body {
  font-family: "Sofia Sans", sans-serif;
}
.navbar {
  width: 100%;

  overflow: auto;
  position: sticky;
  top: 0;
  background: aliceblue;
  transition:0.7s;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 1.2rem;
  color: rgb(54, 44, 44);
  text-decoration: none;
  font-size: 1.7rem;
}
.navbar a:hover {
  background-color: rgb(128, 218, 168);
}
.active {
  background-color: rgb(81, 169, 247);
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#kontakt {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#medier {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#rubrik {
  display: flex;
}

